.fixed-height-navbar {
    height: 56px;
    line-height: 56px;
    padding: 0 1rem;
}

.fixed-height-navbar .navbar-brand,
.fixed-height-navbar .nav-link {
    line-height: 56px;
    padding: 0;
}

#basic-nav-dropdown>.dropdown-menu {
    background-color: #b0787b !important;
}

#basic-nav-dropdown>.dropdown-menu .dropdown-item {
    color: white !important;
}

#basic-nav-dropdown>.dropdown-menu .dropdown-item:hover,
#basic-nav-dropdown>.dropdown-menu .dropdown-item:focus {
    background-color: #945458 !important;
}