.fixed-height-navbar {
    height: 56px;
    /* standard height, adjust as needed */
    line-height: 56px;
    /* align text vertically */
    padding: 0 1rem;
}

/* Optional: reset inner elements so they align correctly */
.fixed-height-navbar .navbar-brand,
.fixed-height-navbar .nav-link {
    line-height: 56px;
    padding: 0;
}

#basic-nav-dropdown>.dropdown-menu {
    background-color: #b0787b !important;
}

/* items inside */
#basic-nav-dropdown>.dropdown-menu .dropdown-item {
    color: white !important;
}

/* hover/focus states */
#basic-nav-dropdown>.dropdown-menu .dropdown-item:hover,
#basic-nav-dropdown>.dropdown-menu .dropdown-item:focus {
    background-color: #945458 !important;